<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- <audio src="http://aimg8.dlszyht.net.cn/bg_music/683/1365158_0.mp3?t=9682" id="audio1" autoplay="true" loop="true"></audio> --}}

      <div class="topnav">
          <a href="/">Home</a>
          <a href="/rooms">topic list</a>
           {{# if currentUserId}}
           <a style="float:right"href="/logout">Log Out</a>
           {{else}}
            <a style="float:right" href="/login">Sign in</a>
           {{/if}}
            <a style="float:right" href='/users/new'>Sign up</a>
           

      </div>

              <main>
               {{{body}}}
              </main>
  </body>
</html>
